@import "../Themes/variables.scss";

#container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    background-color: inherit;
}

.loginHeader {
    text-align: center;
    background-color: $base-color-primary;
}

.login-button {
    margin-bottom: 0;
}
