.site-page-header span {
    color: white;
}

.ant-form-item-explain-error {
    color: black;
}

.ant-modal-header {
    background-color: #00ac5c;
}

.ant-modal-footer {
    background-color: #45b27f;
}

.login-button {
    margin-bottom: 0;
}
