@import "../Themes/variables.scss";

#container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    background-color: inherit;
    align-items: center;
}

.loginHeader {
    width: 100vw;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
}

.loginPageHeader {
    display: inline-flex;
    padding: 0;
}

.loginButton {
    margin-bottom: 0;
    text-align: center;
}

.signUpButton {
    text-align: center;
}
