@import "../index.scss";

.bottom-container {
    position: fixed;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    bottom: 33px;
    right: 33px;
}

@media (max-width: $breakpoint-tablet) {
    .bottom-container {
        bottom: 33px;
        right: 33px;
    }
}

@media (max-width: $breakpoint-phone) {
    .bottom-container {
        bottom: 33px;
        right: 33px;
    }
}

.bottom-container .ant-btn {
}
