@import "../Themes/variables.scss";

@media (max-width: $breakpoint-tablet) {
    .floating-button {
        bottom: 33px;
        right: 33px;
    }
    .searchBarRow {
        width: 90% !important;
    }
}

@media (max-width: $breakpoint-phone) {
    .floating-button {
        bottom: 33px;
        right: 33px;
    }
    .searchBarRow {
        width: 90% !important;
    }
    .column {
        flex: 100% !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBarRow {
    width: 50%;
}
