@import "../Themes/variables.scss";

@media (max-width: $breakpoint-tablet) {
    .floating-button {
        bottom: 33px;
        right: 33px;
    }
}

@media (max-width: $breakpoint-phone) {
    .floating-button {
        bottom: 33px;
        right: 33px;
    }
}

.plannerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: row;
}

#amountInput {
    text-align: center;
    width: 50px;
}

.tagSelect {
    width: 300px;
    flex-grow: 1;
}

.footer {
    background-color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
