@import "../Themes/variables.scss";

@media (max-width: $breakpoint-tablet) {
    .floating-button {
        bottom: 33px;
        right: 33px;
    }
}

@media (max-width: $breakpoint-phone) {
    .floating-button {
        bottom: 33px;
        right: 33px;
    }
}

.footer {
    background-color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBarRow {
    width: 50%;
}
