.viewContainer {
    min-height: 200px;
}

.viewFooter {
    bottom: 0;
    width: 100%;
}

#description {
    white-space: pre-wrap;
    margin-bottom: 20px;
    flex-basis: inherit;
}

#tagList > .ant-tag {
    margin-bottom: 2px;
    font-weight: 600;
}

#link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.divider {
    margin: 12px 0;
}

.contentColumn {
    height: inherit;
    display: flex;
    flex-direction: column;
}
