@import "~antd/dist/antd.css";
@import "./Themes/variables.scss";

body {
    background-color: $base-color-primary;
}

.App {
    text-align: center;
}

.site-page-header span {
    color: white;
}

h2.ant-typography {
    font-size: 16px;
}

h3.ant-typography {
    font-size: 12px;
}

.ant-form-item-explain-error {
    color: black;
}

.ant-modal-header {
    background-color: $base-color-primary;
}

.ant-modal-title {
    color: white;
}

.ant-modal-footer {
    background-color: $base-color-accent;
}

.ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.floating-button {
    position: fixed;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    bottom: 33px;
    right: 33px;
}

.floating-button .ant-btn {
    background-color: $base-color-secondary;
}
