@import '~antd/dist/antd.css';

body {
  background-color: #00ac5c;
}

.App {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.ant-row {
  align-content: center;
  justify-content: center;
}

.ant-row.title-row {
  margin-top: 35%;
}

.site-page-header span {
  color: white;
}

.ant-form {
  width: 50%;
  margin: 0 auto;
}

.ant-form-item-explain-error {
  color: black
}