@import "~antd/dist/antd.css";
@import "./index.scss";

body {
    background-color: $base-color;
}

.App {
    text-align: center;
}

.container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
